.input {
  background-color: transparent;
  border: 0;
  outline: none;
  color: #555;
}

::placeholder {
  color: #555;
}

@media (min-width: 411px) and (orientation: portrait) {
  .input {
    font-size: 17px;
  }
}

@media (min-width: 600px) and (orientation: portrait) {
  .input {
    font-size: 27px;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .input {
    font-size: 14px;
  }
}

@media (min-width: 800px) and (orientation: landscape) {
  .input {
    font-size: 15px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .input {
    font-size: 19px;
  }
}

@media (min-width: 1150px) and (orientation: landscape) {
  .input {
    font-size: 17px;
  }
}

@media (min-width: 1800px) and (orientation: landscape) {
  .input {
    font-size: 23px;
  }
}
