.poweredByInfoComponent {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 12px;
  color: #111;
  background-color: rgba(240, 240, 240, 0.7);
  padding: 1%;
  z-index: 11;
}

.poweredByInfoComponent > a {
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 700px) and (orientation: portrait) {
  .poweredByInfoComponent {
    font-size: 20px;
  }
}

@media (min-width: 600px) and (orientation: landscape) {
  .poweredByInfoComponent {
    bottom: 1.5vh;
    right: 1.5vh;
  }
}

@media (min-width: 900px) and (orientation: landscape) {
  .poweredByInfoComponent {
    font-size: 16px;
    padding: 0.5%;
  }
}

@media (min-width: 1300px) and (orientation: landscape) {
  .poweredByInfoComponent {
    font-size: 16px;
    padding: 0.3%;
  }
}

@media (min-width: 1800px) and (orientation: landscape) {
  .poweredByInfoComponent {
    font-size: 20px;
    bottom: 1vh;
    right: 1vh;
  }
}
